<h2>String Interpolation</h2>
<p>
  {{ stringInterpolation }}
</p>
<hr />
<h2>Property Binding</h2>
<input type="text" name="name" [value]="stringInterpolation">
<input type="text" name="name" value="{{ stringInterpolation }}">
<p [ngClass]="{redBorder: true}">
    Is this is styled?
</p>
<p [ngStyle]="{color: 'green'}">
    Is this is styled?
</p>
<hr />
<h2>Custom property binding</h2>
<app-property-binding [result]="numberInterpolation" [customResult]="10000"></app-property-binding>
<hr />
<h2>Custom Event binding</h2>
<app-event-binding (clickable)="onClicked($event)"></app-event-binding>
<hr />
<h2>Two-Way binding</h2>
<app-two-way-binding></app-two-way-binding>
