<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>From Group</h2>
        <app-form-data-driven-form-group></app-form-data-driven-form-group>
        <h2>Forms</h2>
        <app-form-data-driven></app-form-data-driven>
    </div>
</div>
