<h2>Template Data From Group Driven</h2>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" formControlName="username" >
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <div class="" *ngIf="!myForm.controls.email.valid">
              Email is invalid
          </div>
        </div>
    </div>
    <div formGroupName="userInfo">
        <div class="form-group">
          <label for="mobilephone">Mobilephone</label>
          <input type="text" class="form-control" id="mobilephone" formControlName="mobilephone" >
          <div class="" *ngIf="!myForm.controls.userInfo.controls.mobilephone.valid">
              Mobilephone is empty
          </div>
        </div>
        <div class="form-group">
          <label for="ag">Age</label>
          <input type="text" class="form-control" id="age" formControlName="age" >
        </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="radio" *ngFor="let gender of genders">
        <label for="">
            <input type="radio" formControlName="gender" [value]="gender">
            {{gender}}
        </label>
    </div>
    <div formArrayName="hobbies">
        <h3>Hobbies</h3>
        <div class="form-group"*ngFor="let hobby of hobbies.controls; let i=index">
          <input [formControlName]="i" placeholder="Hobby" class="form-control">
        </div>
    </div>
    <button type="button" class="btn btn-default" (click)="onAddHobby()">
      Add Hobby
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">
      Submit
    </button>
</form>
