<h2>Template Data Driven</h2>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="" ngModelGroup="userData">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="" [(ngModel)]="user.username" name="username" required>
          <p class="help-block">Help text here.</p>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="" [(ngModel)]="user.email"  name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          #email="ngModel">

          <div *ngIf="!email.valid">
              Invalid email
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="" [(ngModel)]="user.password"  name="password" required>
      <p class="help-block">Help text here.</p>
    </div>
    <div class="radio" *ngFor="let gender of genders">
        <label for="">
            <input type="radio" name="gender" [(ngModel)]="user.gender" [value]="gender" />
            {{gender}}
        </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
      Submit
    </button>
</form>
